<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>PDF Store App</title>
    <link rel="stylesheet" th:href="@{../css/homePage.css}"/>
</head>
<body>


<div class="mainDiv">
    <h1>Currently stored PDFs</h1>
    <table class="table">
        <tr>
            <th>id</th>
            <th>name</th>
            <th>description</th>
            <th>size</th>
            <th>upload date</th>
        </tr>
        <tr th:each="pdf : ${pdfs}">
            <td th:text="${pdf.id}">id</td>
            <td th:text="${pdf.name}">task</td>
            <td th:text="${pdf.description}">director</td>
            <td th:text="${pdf.size}">description</td>
            <td th:text="${pdf.uploadDate}">upload Date</td>
            <td>
                <form th:action="@{/deletePdf}" th:method="post">
                    <input type="hidden" name="id" th:value="${pdf.id}">
                    <button type="submit">DELETE</button>
                </form>
            </td>
        </tr>

    </table>

    <h1>Add new Pdf</h1>

    <form class="form" method="post" th:action="@{/addPdf}" th:method="post">
        <input name="name" placeholder="Input name" required type="text">
        <input name="description" placeholder="Input description" required type="text">
        <input id="file" name="file" onchange="checkType(this)" placeholder="Input file" required type="file">
        <input id="submit" type="submit">
    </form>


</div>

</body>

<script type="text/javascript">
    function checkType() {
        var fileName = document.getElementById('file').value;

        var ext = fileName.substring(fileName.lastIndexOf('.') + 1);
        if (ext === "pdf") {
            document.getElementById('submit').disabled = false;
        } else {
            alert("Upload pdf files only");
            document.getElementById('submit').disabled = true;
        }
    }
</script>
</html>